/* NEUZEIT */


@font-face {
    font-family: 'akzidenz-m';
    src: url('fonts/akzidenzgrotesk-medium-webfont.eot');
    src: url('fonts/akzidenzgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/akzidenzgrotesk-medium-webfont.woff2') format('woff2'),
         url('fonts/akzidenzgrotesk-medium-webfont.woff') format('woff'),
         url('fonts/akzidenzgrotesk-medium-webfont.ttf') format('truetype'),
         url('fonts/akzidenzgrotesk-medium-webfont.svg#akzidenz-grotesk_bqmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}